<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is my edit view</title>
  </head>
  <body>
    <% for(var animal of animals){ %>
      <form action = "/species/<%= animal._id %>" method = "post">
        Animal:
        <input type = "text" name = "Animal"><br>
        <input type = "submit" value = "Submit">
      </form>
    <% } %>
    <a href = "/">Back</a>
  </body>
</html>
